In [31]:
import pandas as pd
import matplotlib.pyplot as plt
from darts import TimeSeries
import numpy as np

In [32]:
df = pd.read_csv("../csv/Ming2Jul67_total_order.csv")
df['order_completed_at'] = pd.to_datetime(df['order_completed_at'])
print(df.head())
print(df.tail())
print(df.info())

  order_completed_at  unique_order_count
0         2023-01-01                  15
1         2023-01-02                  32
2         2023-01-03                  89
3         2023-01-04                  73
4         2023-01-05                  67
    order_completed_at  unique_order_count
544         2024-06-28                 142
545         2024-06-29                 126
546         2024-06-30                 161
547         2024-07-01                 142
548         2024-07-02                 158
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_completed_at  549 non-null    datetime64[ns]
 1   unique_order_count  549 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.7 KB
None

In [33]:
df['year']=df['order_completed_at'].dt.year 
df['month']=df['order_completed_at'].dt.month 
df['day']=df['order_completed_at'].dt.day
df['dayofweek_num']=df['order_completed_at'].dt.dayofweek

In [34]:
def print_df_info(df):
    print(df.head())
    print(df.tail())
    print(df.info())

print_df_info(df)

  order_completed_at  unique_order_count  year  month  day  dayofweek_num
0         2023-01-01                  15  2023      1    1              6
1         2023-01-02                  32  2023      1    2              0
2         2023-01-03                  89  2023      1    3              1
3         2023-01-04                  73  2023      1    4              2
4         2023-01-05                  67  2023      1    5              3
    order_completed_at  unique_order_count  year  month  day  dayofweek_num
544         2024-06-28                 142  2024      6   28              4
545         2024-06-29                 126  2024      6   29              5
546         2024-06-30                 161  2024      6   30              6
547         2024-07-01                 142  2024      7    1              0
548         2024-07-02                 158  2024      7    2              1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_completed_at  549 non-null    datetime64[ns]
 1   unique_order_count  549 non-null    int64
 2   year                549 non-null    int32
 3   month               549 non-null    int32
 4   day                 549 non-null    int32
 5   dayofweek_num       549 non-null    int32
dtypes: datetime64[ns](1), int32(4), int64(1)
memory usage: 17.3 KB
None

In [35]:
df['midmonth'] = df['order_completed_at'].apply(lambda x: 1 if x.day == 15 else 0) # promotion midmonth
df['payday'] = df['order_completed_at'].apply(lambda x: 1 if x.day >= 25 else 0)
df['double_date'] = df['order_completed_at'].apply(lambda x: 1 if x.month == x.day else 0)

In [36]:
print_df_info(df)

  order_completed_at  unique_order_count  year  month  day  dayofweek_num  \
0         2023-01-01                  15  2023      1    1              6
1         2023-01-02                  32  2023      1    2              0
2         2023-01-03                  89  2023      1    3              1
3         2023-01-04                  73  2023      1    4              2
4         2023-01-05                  67  2023      1    5              3

   midmonth  payday  double_date
0         0       0            1
1         0       0            0
2         0       0            0
3         0       0            0
4         0       0            0
    order_completed_at  unique_order_count  year  month  day  dayofweek_num  \
544         2024-06-28                 142  2024      6   28              4
545         2024-06-29                 126  2024      6   29              5
546         2024-06-30                 161  2024      6   30              6
547         2024-07-01                 142  2024      7    1              0
548         2024-07-02                 158  2024      7    2              1

     midmonth  payday  double_date
544         0       1            0
545         0       1            0
546         0       1            0
547         0       0            0
548         0       0            0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_completed_at  549 non-null    datetime64[ns]
 1   unique_order_count  549 non-null    int64
 2   year                549 non-null    int32
 3   month               549 non-null    int32
 4   day                 549 non-null    int32
 5   dayofweek_num       549 non-null    int32
 6   midmonth            549 non-null    int64
 7   payday              549 non-null    int64
 8   double_date         549 non-null    int64
dtypes: datetime64[ns](1), int32(4), int64(4)
memory usage: 30.2 KB
None

In [37]:
df.to_csv('../csv/2Jul67_feature.csv', index=False)